/* The Hamburger icon with the menu */
.main-navigation .line {
  height: 2px;
  margin-block: 4px;
  width: 23px;
}

.responsive-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  min-height: 80px;
}
.responsive-menu .site-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 3%;
}

.main-navigation button {
  margin: 0;
}

.menu-toggle {
  display: block;
  position: relative;
  z-index: 1;
  border: none;
  background: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.menu-toggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}
.menu-toggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #b6944c;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
.menu-toggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}
.menu-toggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}
.menu-toggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
.menu-toggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}
.menu-toggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}
.menu-toggle input:checked ~ ul {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  opacity: 1;
}

.main-navigation ul {
  display: block;
}

#menu {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  margin-top: 28px;
  height: 100%;
  position: fixed;
  display: none;
  left: 0;
  width: 100%;
  padding: 30px 40px;
  background-color: #FFF5E9;
  list-style-type: none;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
#menu li {
  padding: 10px 0;
  font-size: 4rem;
  margin-bottom: 57px;
}
#menu li a:hover {
  color: #000;
  text-shadow: #FF5C00 0 0 14px;
}
#menu li.last-li {
  font-size: 1rem;
}
#menu li:first-child:after {
  -webkit-animation: spin 8s infinite linear;
          animation: spin 8s infinite linear;
  position: absolute;
  right: 12%;
  bottom: 3%;
  content: url(../images/Sunflower.svg);
}
#menu li:first-child:before {
  -webkit-animation: float 3s infinite linear;
          animation: float 3s infinite linear;
  position: absolute;
  left: 18%;
  bottom: 0;
  content: url(../images/cat.svg);
}
#menu li:nth-child(2):after {
  -webkit-animation: spin 8s infinite linear;
          animation: spin 8s infinite linear;
  position: absolute;
  right: 3%;
  bottom: 3%;
  content: url(../images/RandomFlower.svg);
}
#menu li:nth-child(2):before {
  position: absolute;
  left: 4%;
  bottom: 200%;
  content: url(../images/Orchid.svg);
  -webkit-animation: spin 8s infinite linear;
          animation: spin 8s infinite linear;
}
#menu li:nth-child(3):after {
  -webkit-animation: spin 8s infinite linear;
          animation: spin 8s infinite linear;
  position: absolute;
  left: 14%;
  bottom: 40%;
  content: url(../images/Flower.svg);
}
#menu li:nth-child(3):before {
  -webkit-animation: float 3s infinite linear;
          animation: float 3s infinite linear;
  position: absolute;
  right: 12%;
  content: url(../images/cat2.svg);
}
#menu li:nth-child(4) {
  padding-bottom: 105px;
  margin-bottom: 0;
}
#menu li:nth-child(4):before {
  -webkit-animation: float 3s infinite linear;
          animation: float 3s infinite linear;
  position: absolute;
  left: 4%;
  content: url(../images/cat3.svg);
  bottom: -3%;
}
#menu li:nth-child(4):after {
  -webkit-animation: spin 8s infinite linear;
          animation: spin 8s infinite linear;
  position: absolute;
  top: 1px;
  right: -23%;
  content: url(../images/Hibiscusfooter.svg);
}
#menu img {
  margin-bottom: 57px;
}

.open {
  display: block !important;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  width: initial !important;
}
.swiper-slide figure {
  margin: 1em 20px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.story #characters div {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.site-main .banner {
  top: 0;
  left: 0;
  width: auto;
  z-index: -100;
}
.site-main video {
  max-width: 1440px;
}
.site-main #parallax {
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  position: absolute;
  display: block;
}
.site-main #parallax img {
  position: absolute;
  left: 22%;
  top: 34%;
  max-width: 680px;
  opacity: 0;
  -webkit-animation: fadeIn 1s ease-in both;
          animation: fadeIn 1s ease-in both;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.site-main .animation-up {
  opacity: 0;
  -webkit-animation: fadeIn 1s ease-in both;
          animation: fadeIn 1s ease-in both;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.site-main .animation-dowm {
  opacity: 0;
  -webkit-animation: fadeInDowm 1s ease-in both;
          animation: fadeInDowm 1s ease-in both;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.site-main .story {
  background-color: #FFF5E9;
  z-index: 1;
}
.site-main .story .story__article:before {
  opacity: 0;
  -webkit-animation: fadeIn 1s ease-in both;
          animation: fadeIn 1s ease-in both;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.site-main .story .story__article::after {
  -webkit-animation: spin 8s infinite linear;
          animation: spin 8s infinite linear;
  z-index: 1000;
}
.site-main .story h2 {
  opacity: 0;
  -webkit-animation: fadeIn 1s ease-in both;
          animation: fadeIn 1s ease-in both;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  width: 100%;
}
.site-main .story h2:before {
  opacity: 0;
  -webkit-animation: fadeIn 1s ease-in both;
          animation: fadeIn 1s ease-in both;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.site-main .story h2::after {
  -webkit-animation: spin 8s infinite linear;
          animation: spin 8s infinite linear;
  z-index: 1000;
}
.site-main .story #characters {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.site-main .story #place {
  overflow: hidden;
  -webkit-animation: teste 1s ease-in both;
          animation: teste 1s ease-in both;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  background-repeat: no-repeat;
  background-image: url(../images/place-bg.svg);
}
.site-main .story #place div h3 {
  opacity: 0;
  -webkit-animation: fadeIn 1s ease-in both;
          animation: fadeIn 1s ease-in both;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.site-main .story #place #nuages {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 35px;
  position: relative;
}
.site-main #studio div:before {
  opacity: 0;
  -webkit-animation: fadeIn 1s ease-in both;
          animation: fadeIn 1s ease-in both;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.site-main #studio h2:before, .site-main #studio h2:after {
  -webkit-animation: spin 8s infinite linear;
          animation: spin 8s infinite linear;
  z-index: 1000;
}

.site-footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.site-footer:before, .site-footer:after, .site-footer ul:after {
  -webkit-animation: spin 8s infinite linear;
          animation: spin 8s infinite linear;
  z-index: 1000;
}
.site-footer:after {
  top: 0;
  bottom: initial;
}
.site-footer:before {
  top: 5em;
}
.site-footer .oscar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 72.66%;
  margin: auto;
  margin-bottom: 250px;
  opacity: 0;
  -webkit-animation: fadeIn 1s ease-in both;
          animation: fadeIn 1s ease-in both;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.site-footer .oscar h3 {
  padding: 1.8em 2em;
  text-align: left;
}
.site-footer .oscar .item {
  background-image: url(../images/orange-shadow.svg);
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
}
.site-footer .oscar img {
  max-width: 278px;
  max-height: 129px;
  margin: 2.8em 0 0 0;
}
.site-footer ul:after {
  z-index: -1;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes teste {
  from {
    opacity: 0;
    background-position: bottom -510px right 50%;
  }
  to {
    opacity: 1;
    background-position: bottom 0px right 50%;
  }
}
@keyframes teste {
  from {
    opacity: 0;
    background-position: bottom -510px right 50%;
  }
  to {
    opacity: 1;
    background-position: bottom 0px right 50%;
  }
}
@-webkit-keyframes fadeInDowm {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fadeInDowm {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-30px);
            transform: translatey(-30px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}
@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-30px);
            transform: translatey(-30px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}
@media screen and (max-width: 998px) {
  video,
  #menu li:first-child:after,
  #menu li:nth-child(2):before,
  #menu li:nth-child(2):after,
  #menu li:nth-child(4):before,
  #menu li:nth-child(3):after {
    display: none;
  }
  .site-main #parallax img {
    left: 12%;
  }
  .banner img {
    width: 80%;
  }
  #menu li:first-child:before {
    left: -17%;
  }
  #menu li:nth-child(3):before {
    right: -18%;
  }
  #menu li:nth-child(3):after {
    left: -7%;
    bottom: 25%;
  }
  #menu li:nth-child(4):after {
    top: 77px;
    right: -14%;
  }
  .site-footer .oscar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-footer .oscar .item {
    height: 257px;
    background-size: cover;
  }
  .site-footer {
    padding-top: 5em;
  }
}